*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Lato', sans-serif;
}


nav {
  width: 100%;
  padding: 4px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

}

nav ul li{
  cursor: pointer;

}

nav .links{
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 2px ;

}

nav .btn {
  border: 1px solid white;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
}

nav .btn:hover{
  background-color: white;
  color: black;
}

/* Css for the forms */

.forms{
  width: 70%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 350px;
  height: 100%;
  padding: 25px 25px;
}
.left .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 73%;
  margin: auto;
}
.left h3 {
  text-align: left;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
}
.left input {
  border: none;
  width: 80%;
  margin: 15px 0;
  border-bottom: 1px solid black;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: 0 0;
  font-weight: 200;
  font-size: 14px;
}
.left {
  background: linear-gradient(-45deg, #fdfdfd, #fff);
  border: 2px solid black;
  border-radius: 10px;
}
.submit {
  border: none;
  padding: 22px 70px;
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-top: 120px;
  background: black;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}


button{
  cursor: pointer;
}

.logout{
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: white;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}



.logout:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  font-weight: 100;
  transform: scale(1.1);
}




/* Creating Post UI */
.post{
  width: 100%;
  margin-top: 2%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.post .post-container{
  width: 40%;
}

.post h3{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
}



.post-container form{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.post .row{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.post label{
  margin-top: 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.post-container form input{
  height: 40px;
  margin-top: 4px;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
}

.post-container textarea{
  width: 100%;
  padding: 4px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  height: 10rem;
  font-weight: 600;
}

.post-container .title_inp input{
  font-weight: bold;
  text-transform: uppercase;
}

.post-container .tags{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tags .tags-row{
  width: 100%;
  justify-content: left;
  align-items: left;
  display: flex;
}


.post-container button{
  width: 50%;
  margin-top: 12px;
  font-size: 18px;
  background: black;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  transition: all .3s ease-in-out;

}

.post-container .tags-row button{
  height: 40px;
  margin-top: 4px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.tags-row input{
  margin-top: 0px;
}

.tags-row span, .article span{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 4px;
  background-color: rgb(174, 215, 248);
  padding: 8px 18px;
  border-radius: 20px;
  color: #000;
}

.post-container button:hover{
  background-color: white;
  border: 2px solid black;
  color: black;
}

/* Post UI  */

.browser .title{
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 2%;
  margin-top: 2%;
}

.article{
  width: 60%;
  border: black solid 2px;
  border-radius: 10px;
  margin: 2% auto;
  padding: 6px;

}

.article h1{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;

}

.article span{
  margin-bottom: 5px;
}

.article .img_container{
  margin-top: 15px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-size: contain;
  border-radius: 10px;
}
.article img{
  width: 100%;
}

.article p{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.article ul {
  list-style-type: none;
  width: 100%;
}



@media (max-width: 900px) {
  .forms{
    flex-direction: column;
  }
  .left {
    margin-bottom: 40px;
  }
  nav .links{
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: none;
  
  }
  .post .post-container{
    width: 90%;
  }
  .post-container button{
    width: 100%;
  }
  .article{
    width: 90%;
  }
}